api_service/
logs/
docs/
images/
diagramas/

# Claude
CLAUDE.md
SKILL.md
claude_memory/

# Checkpoints y Jupyter
check_points/
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
.check_points/
config.py
